/* http://meyerweb.com/eric/tools/css/reset/    v2.0 | 20110126   License: none (public domain)*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}/*HTML5 display-role reset for older browsers*/article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
	background: #CECECE url("img/body.gif");
	background: url("img/tile.png") repeat-x -2% -230px, url("img/tile.png") repeat-x -4% 550px, url("img/tile.png") repeat-x -8% 80%, url("img/body.gif") repeat -50% 0, #CECECE;
	color: #303030;
	font: normal 100%/1.5 Calibri, Candara, "Gill Sans", "Gill Sans MT", sans-serif;
}
h1{
	font-size: 1.5em; /*24 / 16*/
	font-style: italic;
	font-weight: normal;
}
a {
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
	color: #D53232;
	text-decoration: none;
}
a:hover {
	color: #B52A2A;
}
#page{
	margin: 36px auto;
	max-width: 960px;
}
.blog{
	margin: 0 auto 53px;
	width: 93.75%; /*900 / 960*/
	background: #f8f5f2;
	overflow: auto;
}
.blog .main{
	float: left;
	width: 62.88888888888889%; /*566 / 900*/
}
.blog .other{
	float: right;
	width: 36.77777777777778%; /*331 / 900*/
}
h1.lede{
	background: #751910 url("img/blog-title-bg.jpg");
	color: #f9e3cc;
	font: normal 1.25em "league-gothic-1", "league-gothic-2", "League Gothic", "Arial Narrow", Arial, sans-serif;
	padding: 0.8em 5.33333333333333%;  /*48 / 900*/
}
h1.lede a {
	color: #f8f5f2;
	font-size: 2em;
	text-transform: uppercase;
	text-decoration: none;
}
.date {
	background: rgba(0, 0, 0, 0.6);
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #FFF;
	font: normal 0.857142857em/1 "league-gothic-1", "league-gothic-2", "League Gothic", "Arial Narrow", Arial, sans-serif;
	letter-spacing: 0.075em;
	padding: 0.75em 0;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #000;
}
.date span {
	display: block;
	font-size: 3.83333333em;
}
.recent-entries{
	margin: 0 auto;
	width: 69.7885196%; /*231 / 331*/
}